*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #011552;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.brand {
  font-size: 2rem;
}

.links a {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 5px;
  transition: color 0.6s;
}

.links a:hover {
  color: #0bd7ef;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 50px 200px;
}

section h2 {
  font-size: 3rem;
}
section p {
  font-size: 1.3rem;
}

section * {
  margin: 20px 0px;
}

#home {
  align-items: center;
  background-color: #0bd7ef;
  color: #011552;

  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.veracode.com/sites/default/files/styles/blog_post_resize_960/public/developer-guide-blog-2.png?itok=JQGRVjEX");
  background-size: cover;
}

.hone::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#home h1 {
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px #778899, 2px 2px #a9a9a9, 3px 3px #a9a9a9,
    4px 4px #a9a9a9;
}

#home button {
  background-color: #011552;
  font-size: 2rem;
  /*color: #0bd7ef;*/
  padding: 10px 20px;
  transition: background-color 0.6s;
  color: white;
  text-shadow: 1px 1px #778899;
}

#home button:hover {
  background-color: rgba(1, 21, 82, 0.8);
}

#about {
  color: #0bd7ef;
  background-color: #011552;
}

#projects {
  background-color: #0bd7ef;
  color: #011552;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 250px;
  background-color: #011552;
  color: #0bd7ef;
  margin: 10px;
}

.project-info h3 {
  font-size: 1.4rem;
}

.project a {
  width: 80%;
  background-color: #0bd7ef;
  color: #011552;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 100px;
}

#participants {
  background-color: #011552;
  color: #0bd7ef;
}

.participants-container {
  display: flex;
  flex-wrap: wrap;
}

.participant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 250px;
  color: #011552;
  background-color: #0bd7ef;
  margin: 10px;
}

.participant-info h3 {
  font-size: 1.4rem;
}

.participant a {
  width: 80%;
  color: #0bd7ef;
  background-color: #011552;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 100px;
}

#maintainers {
  background-color: #0bd7ef;
  color: #011552;
}

.maintainers-container {
  display: flex;
  flex-wrap: wrap;
}

.maintainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 250px;
  background-color: #011552;
  color: #0bd7ef;
  margin: 10px;
}

.maintainer-info h3 {
  font-size: 1.4rem;
}

.maintainer a {
  width: 80%;
  background-color: #0bd7ef;
  color: #011552;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
  background-color: #011552;
  color: #0bd7ef;
}
