*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #011552;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
}

.brand {
  font-size: 2rem;
}

.links a {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 5px;
  transition: color 0.6s;
}

.links a:hover {
  color: #0bd7ef;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 50px 200px;
}

section h2 {
  font-size: 3rem;
}
section p {
  font-size: 1.3rem;
}

section * {
  margin: 20px 0px;
}

#home {
  align-items: center;
  background-color: #0bd7ef;
  color: #011552;
}

#home h1 {
  font-size: 5rem;
}

#home button {
  background-color: #011552;
  font-size: 2rem;
  color: #0bd7ef;
  padding: 10px 20px;
  transition: background-color 0.6s;
}

#home button:hover {
  background-color: rgba(1, 21, 82, 0.8);
}

#about {
  color: #0bd7ef;
  background-color: #011552;
}

#projects {
  background-color: #0bd7ef;
  color: #011552;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 250px;
  background-color: #011552;
  color: #0bd7ef;
  margin: 10px;
}

.project-info h3 {
  font-size: 1.4rem;
}

.project a {
  width: 80%;
  background-color: #0bd7ef;
  color: #011552;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 100px;
}

#participants {
  background-color: #011552;
  color: #0bd7ef;
}

.participants-container {
  display: flex;
  flex-wrap: wrap;
}

.participant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 250px;
  color: #011552;
  background-color: #0bd7ef;
  margin: 10px;
}

.participant-info h3 {
  font-size: 1.4rem;
}

.participant a {
  width: 80%;
  color: #0bd7ef;
  background-color: #011552;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 100px;
}

#maintainers {
  background-color: #0bd7ef;
  color: #011552;
}

.maintainers-container {
  display: flex;
  flex-wrap: wrap;
}

.maintainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 250px;
  background-color: #011552;
  color: #0bd7ef;
  margin: 10px;
}

.maintainer-info h3 {
  font-size: 1.4rem;
}

.maintainer a {
  width: 80%;
  background-color: #0bd7ef;
  color: #011552;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 100px;
}
.contact{
    background: #011552;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    transition: 0.6s;
    padding: 35px 120px;
    bottom: 0;
}

.contact ul {

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact ul li {
    list-style: none;
}

.contact  ul li a {

    margin: 5px 45px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.contact ul li:nth-child(7n+1) a:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #4267B2, 0 0 20px #4267B2, 0 0 30px #4267B2, 0 0 40px #4267B2, 0 0 50px #4267B2, 0 0 60px #4267B2, 0 0 70px #4267B2, 0 0 80px #4267B2, 0 0 90px #4267B2;
}

.contact ul li:nth-child(7n+2) a:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #0e76a8, 0 0 20px #0e76a8, 0 0 30px #0e76a8, 0 0 40px #0e76a8, 0 0 50px #0e76a8, 0 0 60px #0e76a8, 0 0 70px #0e76a8, 0 0 80px #0e76a8, 0 0 90px #0e76a8;
}

.contact ul li:nth-child(7n+3) a:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #6cc644, 0 0 20px #6cc644, 0 0 30px #6cc644, 0 0 40px #6cc644, 0 0 50px #6cc644, 0 0 60px #6cc644, 0 0 70px #6cc644, 0 0 80px #6cc644, 0 0 90px #6cc644;
}

.contact ul li:nth-child(7n+4) a:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #D44638, 0 0 20px #B23121, 0 0 30px #D44638, 0 0 40px #B23121, 0 0 50px #D44638, 0 0 60px #B23121, 0 0 70px #B23121, 0 0 80px #D44638, 0 0 90px #B23121;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
  background-color: #011552;
  color: #0bd7ef;
}
